@media all and (max-width: 1200px) {
    
    /* about */
    figure {
        width: 100%;
    }
    
    #ikony figure {
        width: 40%;
    }
    
    img {
        max-height: inherit;
    }
    
    article {
        width: 100%;
    }
    
    .single-portfolio-item {
        width: 50%;
    }
    
    .single-portfolio-item:last-child {
        width: 100%;
    }
}

@media all and (max-width: 768px) {    
    /* menu */
    .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    
    #main-nav {
        display: none;
    }
    
    #main-nav #drop:checked + ul {
        display: block;
    }
    
    #main-nav li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    
    /* header */
    .main-header-content {
        padding: 5%;
        text-align: center;
    }
    
    .contact-data {
        width: 100%;
        text-align: center;
    }
    
    .contact-form {
        width: 100%;
    }
    
    .contact-data a {
        margin: 0;
    }
    
    address {
        margin: 30px 0;
    }
}

@media all and (max-width: 680px) {
    section {
        padding: 0 40px 50px;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    /* header */
    .main-header-content {
        padding: 10%;
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    section {
        padding: 0 10px 30px;
    }
    
    #ikony figure {
        width: 100%;
    }
}

@media (max-device-width: 768px)
{
    .main-header-content {    
        padding: 5%;
    }
}