body {
    background-color: bisque;
}

#container {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 300px;
    background-color: #7da9de;
    -webkit-box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.28);
    -moz-box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.28);
    box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.28);
}

input {
    width: 300px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;    
    color: black;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

select {
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    line-height: 6px;
    
}

textarea {
    background-color: azure;
    color: black;
    width: 280px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 5px
}

input[type=submit] {
    width: 300px;
    border: 1px solid #666;
    border-radius: 5px;
    color: aliceblue;
    background-color: #36b03c;
}

