html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto:400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Anton', sans-serif;
}

a:hover, a:active, a:focus {
  outline: none;
}

h1{
    color: #222;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7px;
}

h3{
    font-size: 24px;
    color: #222;
}

p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 350px){
    h1{
    color: #222;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 7px;
}

    h3{
    font-size: 15px;
    color: #222;
}

    p{
    font-size: 10px;
    }
}



#header{
    width: 100%;
    height: 100vh;
    background: url(../images/IMG_865606.jpg) fixed no-repeat 50% 50%;
    background-size: cover;
    position: relative
    -webkit-box-shadow: 0px 5px 19px 4px rgba(0,0,0,0.4); 
    box-shadow: 0px 5px 19px 4px rgba(0,0,0,0.4);
}


nav{
    position: fixed;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    transition: .2s;
    
}

nav.black ul{
    background: rgba(0,0,0,0.8);
}

nav ul li{
    display: inline-block;
    padding: 15px 20px;
    transition: .3s;
    color: #fff;
    
}

nav ul li:hover{
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    
}

.menu-icon{
    width: 100%;
    background: rgba(0,0,0,0.8);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    
}

@media(max-width: 580px){
    #header .inner{
        width: 80%;  
    }
    
    #header .inner h2{
        font-size: 30px;
    }
    
    #header .inner p{
        font-size: 12px;
    }
    
    nav ul{
        max-height: 0px;
        background: rgba(0,0,0,0.8);
        
    }
    
    nav.black ul{
        background: rgba(0,0,0,0.8);
        
    }
    
    .showing{
        max-height: 20em;
        
    }
    
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        
        
    }
    
    .menu-icon{
        display: block;
    }
}

@media(max-width: 870px){
    #header .inner{
        width: 80%;
    }
    
}



.inner{
    position: absolute;
    width: 40%;
    height: 10%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner h2{
    font-family: 'Anton', sans-serif;
    text-align: center;
    border-top: 2px solid #ecf0f2;
    border-bottom: 2px solid #ecf0f2;
    color: #ecf0f2;
    font-size: 62px;
    padding: 10px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 0 0;
    text-transform: uppercase;
}

.inner p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ecf0f2;
    letter-spacing: 2px;
    line-height: 15px;
}


h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}



hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
	color: #222;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

/*menu section*/

#menu {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 5px 19px 4px rgba(0,0,0,0.4); 
    box-shadow: 0px 5px 19px 4px rgba(0,0,0,0.4);
    background-color: #d9d8d8;
    z-index: -1000;
}



#menu .drinks {
    float: left;
    width: 50%;
    margin: -1px;
    border-right: 1px solid #222;
    margin-bottom: 20px;
    
}

#menu .foods {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    
}

#menu .drinks p, .foods p {
    padding: 0 20px;
    margin: 0;
    
}

#menu .drinks .whisky_left,
#menu .drinks .whisky_right {
    float: left;
    width: 50%;
    margin: 0;
}

#menu .drinks .whisky_left {
    text-align: right;
}

#menu .drinks .whisky_right {
    text-align: left;
}



#menu .drinks .whisky_left p,
#menu .drinks .whisky_right p {
    font-size: 12px;
    padding: 0 20px;
}
.clear {
    clear: both;
}

@media all and (max-width:480px) {
    #menu .drinks {
        float: none;
        width: 100%;
        
    }
}

@media all and (max-width:480px) {
    #menu .foods {
        float: none;
        width: 100%;
    }
}



/*gallery section*/

#gallery {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 5px 19px 4px rgba(0,0,0,0.4); 
    box-shadow: 0px 5px 19px 4px rgba(0,0,0,0.4);
    z-index: 1;
}



#gallery .picture-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 0px;
    margin-left: 300px;
    margin-right: 300px;
}

@media all and (max-width:1580px){
    #gallery .picture-grid{
        margin-right: 0;
        margin-left: 0;
    }
}

#gallery .picture-grid .grid-box img{
    width: 100%;
    filter: grayscale(100%);
    transition: 1s;
}

#gallery .picture-grid .grid-box img:hover{
    filter: grayscale(0);
    
}

#gallery .foto p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 320px;
    text-decoration: none;
}

#gallery .foto a {
    text-decoration: none;
    color: #222;    
}

#gallery .foto a:hover{
    color: #747373;
}

@media all and (max-width:1580px){
    #gallery .foto p{
        padding-left: 20px;
    }
}
/*contact section*/

#contact {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    background-color: #d9d8d8;
   
}

#contact .container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#contact .adress{
    float: left;
    width: 297px;
    height: 350px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #222;
    border-right: 1px solid #222;
    margin-bottom: 10px;
}
#contact .adress h3{
    margin-top: 0;
    border-bottom: 1px solid #222;
}
#contact .adress p{
    margin-left: 0;
    line-height: 2px;
    margin-top: 0;
}

#contact .adress li{
    list-style: none;
}

#contact .adress a{
    text-decoration: none;
    color: #222;
}

#contact .adress a:hover{
    color: #747373;
    
}

#contact .adress .fa{
    font-size: 24px;
}
#contact .map{
    float: left;
    width: 650px;
    height: 350px;
    margin-left: 50px;
    border: 1px solid #222;
    
}

#contact .map iframe{
    width: 100% !important;
    height: 350px !important;
    border: 0 !important;
    
}

@media all and (max-width:1200px){
    #contact .map{
        width: 350px !important;     
    } 
}


@media all and (max-width:1200px){
    #contact .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width:1200px){
    #contact .map{
        width: 450px !important;
    }
}

@media all and (max-width:800px){
    #contact .container{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width:1200px){
    #contact .map{
        width: 350px !important;
    }
}


@media all and (max-width:750px){
    #contact .container{
        width: 100%;
    }
}
@media all and (max-width:750px){
    #contact .adress
}
@media all and (max-width:750px){
    #contact .adress{
        float: none;
        margin-left: 10px;
    }
}
@media all and (max-width:750px){
    #contact .map{
        float: none;
        width: 100% !important;
        border: 0;
        margin-left: 0;
    }
}



/*footer section*/

#footer p{
    color: #fff;
    background-color: #222;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#footer .fa{
    font-size: 22px;
    color: #4267B2; 
}
    
#footer .fa:hover{
    color: #8b9dc3;
} 
    
@media all and(min-width:780px){
    #footer .fa{
        display: none;
    }
}    