.intro {
    display: grid;
    grid-template-columns: minmax(4rem, 1fr) minmax(auto, 30rem) minmax(4rem, 1fr);
    color: rgba($white, .7);

}


.intro-middle {
    background: $dark-blue;
    padding: 2rem 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        color: $white;

        &::after{
            content: '';
            display: block;
            width: 20%;
            height: 1px;
            background: rgba($white, .5);
            margin: 1em auto 0;
        }
    }
}

.intro-left,
.intro-right {
    img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        display: block;
    }
}