.portfolio {
    text-align: center;
    background: $light-gray;
    padding: 3em 0;

    & h1 {
        margin-bottom: 2em;
    }
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    //margin: 0;
    

    img {
        display: block;
    }

    figcaption {
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2em;
        background: rgba($accent, .5);
        color: $white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 250ms;
    }

    &:hover figcaption,
    &:focus figcaption {
        top: 0;
    }
}


.portfolio-title {
    color: $white;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: auto;

    .featured & {
        font-size: 4rem;
    }
}

.portfolio-desc {
    display: none;

    .featured & {
        display: block;
    }
}


.portfolio-link {
    color: $white;
    font-weight: $fw-b;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;

    &::after {
        content: url(../img/arrow-white.svg);
        width: .8em;
        height: .8em;
        margin-left: .5em;
        display: inline-block;
        
    }
}

.portfolio-items {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-item.featured {
    grid-column: span 2 ;
}
